/**
 * Counter Behavior Styles
 * -----------------------------------------------------------------------------
 * Works with src/wb-viewmodels/counter.js
 * -----------------------------------------------------------------------------
 */

.x-counter {
  display: inline-block;
  margin-left: 1rem;
  color: var(--text-tertiary);
  font-size: var(--text-sm);
  white-space: nowrap;
}

.x-counter--warning {
  color: var(--warning-color);
}

.x-counter--error {
  color: var(--danger-color);
}
