<!-- Simple Footer Template -->
<wb-footer data-copyright="© 2025 Company. All rights reserved.">
  <wb-footer-column data-title="Company">
    <a href="#">About Us</a>
    <a href="#">Careers</a>
    <a href="#">Press</a>
    <a href="#">Blog</a>
  </wb-footer-column>
  <wb-footer-column data-title="Product">
    <a href="#">Features</a>
    <a href="#">Pricing</a>
    <a href="#">Integrations</a>
    <a href="#">Changelog</a>
  </wb-footer-column>
  <wb-footer-column data-title="Resources">
    <a href="#">Documentation</a>
    <a href="#">Tutorials</a>
    <a href="#">API Reference</a>
    <a href="#">Status</a>
  </wb-footer-column>
  <wb-footer-column data-title="Legal">
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Security</a>
    <a href="#">Cookies</a>
  </wb-footer-column>
</wb-footer>
